{% extends 'layout.html.twig' %}

{% block breadcrumbs %}
  <li><a href="{{ path('home') }}"><i class="fi-home small-icon"></i></a></li>
  <li class="current">
    <i class="fi-plus small-icon"></i>
    <i class="fi-book-bookmark small-icon"></i>}
  </li>
{% endblock %}

{% block content %}
  <h2>Añadir categoría</h2>
  {% if study_addition is defined %}
    <p class="lead">Selecciona la categoría(s) a la que pertenece el estudio</p>
  {% else %}
    <p class="lead">Selecciona la categoría(s) a la que pertenece el conocimiento</p>
  {% endif %}
  {% include 'lists/categories.html.twig' %}
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script src="{{ asset('js/students.js') }}"></script>
{% endblock %}