{% block list %}
	<div class="small-10 small-centered large-10 large-centered text-center columns">
		<table>
		  <thead>
		    <tr>
		      <th>Nombre</th>
		      <th>Estudios realizados</th>
		      <th>Comentarios</th>
		      <th>Acciones</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>Content Goes Here</td>
		      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
		      <td>Content Goes Here</td>
		      <td>Content Goes Here</td>
		    </tr>
		    <tr>
		      <td>Content Goes Here</td>
		      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
		      <td>Content Goes Here</td>
		      <td>Content Goes Here</td>
		    </tr>
		    <tr>
		      <td>Content Goes Here</td>
		      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
		      <td>Content Goes Here</td>
		      <td>Content Goes Here</td>
		    </tr>
		  </tbody>
		</table>                    
	</div>
{% endblock %}