{% extends 'layout.html.twig' %}

{% block content %}
    <div class="first-row">
      <div class="small-10 small-offset-1">
        <h4>
          Indica una nueva contraseña, {{ app.user.username }}
        </h4>
      </div>
    </div>
    <form method="POST" data-abide>
      <div class="row collapse">
        <div class="small-2 large-2 columns">
          <span class="prefix"><i class="fi-lock medium-icon"></i></span>
        </div>
        <div class="input-wrapper small-10 large-10 columns">
          <input type="password" placeholder="Nueva contraseña" name="password" pattern="alpha_numeric" required>
          <small class="error">Debes indicar una contraseña</small>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-2 large-2 columns">
          <span class="prefix"><i class="fi-alert medium-icon"></i></span>
        </div>
        <div class="small-10 large-10 columns">
          <input type="password" placeholder="Repita la contraseña" pattern="alpha_numeric" data-equalto="password">
          <small class="error">Las contraseñas no coinciden</small>
        </div>
      </div>
      <div class="row">
        <div class="small-12 column">
          <div class="small-3 column">
            <button type="submit" class="button expand round warning"><i class="fi-unlock small-icon"></i>Modificar</button>
          </div>
        </div>
      </div>
    </form>
{% endblock %}
