{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
Restablecer contraseña
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}
  Restablecer contraseña

  Use el enlace de abajo para modificar su contraseña:
  {{ resetUrl }}


  _______________________________________________________________
  ¿No ha pedido restablecer su contraseña ?

  Si usted no pidió restablecer su contraseña , es probable que
  otro usuario haya introducido su nombre de usuario o dirección de correo electrónico por error
  al tratar de restablecer su contraseña . Si ese es el caso,
  no es necesario realizar ninguna acción y usted puede de manera segura
  omitir este correo electrónico.

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}
  <h1>Restablecer contraseña</h1>

  <p>
    Por favor <a href="{{ resetUrl }}">pulse aquí para modificar su contraseña</a>.
  </p>

  <hr style="margin-top: 30px;"/>
  <p>
    <strong>¿No ha pedido restablecer su contraseña ?</strong>
    <br/>
    Si usted no pidió restablecer su contraseña , es probable que
    otro usuario haya introducido su nombre de usuario o dirección de correo electrónico por error
    al tratar de restablecer su contraseña . Si ese es el caso,
    no es necesario realizar ninguna acción y usted puede de manera segura
    omitir este correo electrónico.
  </p>

{%- endblock -%}