{% extends 'layout.html.twig' %}

{% block content %}
    <div class="first-row">
      <div class="small-12 medium-6 large-6 columns">
        <div class="chart text-center">
          <div id="studiesChart"></div>
          <h4 class="text-center">
            <span id="studiesTotal" class="radius primary label"></span>
          </h4>
        </div>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <div id="studiesCategorizedChart" class="chart"></div>
      </div>
    </div>
    <div class="custom-row">
      <div class="small-12 medium-6 large-6 columns">
        <div class="chart">
          <div id="studentsChart"></div>
          <h4 class="text-center">
            <span id="studentsTotal" class="radius primary label"></span>
          </h4>
        </div>
      </div>
      <div class="small-12 medium-6 large-6 columns">
        <div id="knowledgeChart" class="chart"></div>
      </div>
    </div>
    <div class="custom-row">
      <div class="small-12 column">
        <div id="companiesChart" class="chart"></div>
        <h4 class="text-center">
          <span id="companiesTotal" class="radius primary label"></span>
        </h4>
      </div>
    </div>
{% endblock %}

{% block scripts %}
  {{ parent() }}
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">

    // Load the Google Visualization API and required packages.
    google.load('visualization', '1.1', {'packages':['table', 'bar', 'corechart']});

    // Set a callback to run when the Google Visualization API is loaded.
    google.setOnLoadCallback(function () {
      /****  Create data tables with JSON data loaded from server. ****/
      var jsonData = $.ajax({
        url: "data",
        dataType:"json",
        async: false
      }).responseJSON;
      //Studies data
      var studiesData = new google.visualization.DataTable();
      studiesData.addColumn('string', 'Denominación');
      $('#studiesTotal').text('Total de estudios registrados: ' + jsonData['studies'].splice(-1, 1)[0]);
      studiesData.addRows(jsonData['studies']);
      //Studies by category data
      var categorizedStudiesData = new google.visualization.DataTable();
      categorizedStudiesData.addColumn('string', 'Categoría');
      categorizedStudiesData.addColumn('number', 'Nº de estudios');
      categorizedStudiesData.addRows(jsonData['categorizedStudies']);
      //Estudents data
      var studentsData = new google.visualization.DataTable();
      studentsData.addColumn('string', 'Estudio');
      studentsData.addColumn('number', '% de estudiantes');
      $('#studentsTotal').text('Total de alumnos registrados: ' + jsonData['studentsByStudy'].splice(-1, 1)[0]);
      studentsData.addRows(jsonData['studentsByStudy']);
      //Estudents by knowledge data
      var knowledgeData = new google.visualization.DataTable();
      knowledgeData.addColumn('string', 'Conocimiento / Habilidad');
      knowledgeData.addColumn('number', '% de estudiantes');
      knowledgeData.addRows(jsonData['studentsByKnowledge']);
      //Companies data
      var companiesData = new google.visualization.DataTable();
      companiesData.addColumn('string', 'Categoría / Actividad');
      companiesData.addColumn('number', '% de empresas');
      $('#companiesTotal').text('Total de empresas registradas: ' + jsonData['companies'].splice(-1, 1)[0]);
      companiesData.addRows(jsonData['companies']);

      // Create a studies charts
      var studiesTableOptions = {
        'title': 'Estudios registrados',
        'page': 'enable'
      };
      var chart = new google.visualization.Table(document.getElementById('studiesChart'));
      chart.draw(studiesData, studiesTableOptions);
      var studiesChartOptions = {
        'chart': {
          'title': 'Estudios registrados',
          'subtitle': 'Por categorías'
        },
        'animation': {
          'startup': true,
          'duration': 1500
        }
      };
      chart = new google.charts.Bar(document.getElementById('studiesCategorizedChart'));
      chart.draw(categorizedStudiesData, studiesChartOptions);
      var studentsChartOptions = {
        'title': 'Alumnos registrados (por estudio)',
        'pieHole': 0.4,
        'sliceVisibilityThreshold': 0.1,
        'height': 300
      };
      chart = new google.visualization.PieChart(document.getElementById('studentsChart'));
      chart.draw(studentsData, studentsChartOptions);
      var knowledgeChartOptions = {
        'title': '% de alumnos poseedores de algún conocimiento o habilidad destacable',
        'is3D': true,
        'sliceVisibilityThreshold': 0.1
      };
      chart = new google.visualization.PieChart(document.getElementById('knowledgeChart'));
      chart.draw(knowledgeData, knowledgeChartOptions);
      var companiesChartOptions = {
        'chart': {
          'title': 'Empresas registrados',
          'subtitle': 'Por categorías'
        },
        'animation': {
          'startup': true,
          'duration': 1500
        },
        bars: 'horizontal'
      };
      chart = new google.charts.Bar(document.getElementById('companiesChart'));
      chart.draw(companiesData, companiesChartOptions);
    });
  </script>
{% endblock %}