{% extends layout_template  %}

{% block content %}
    <h1>!Gracias!</h1>
    <p>Se ha enviado un email a la dirección <strong>{{ email }}</strong>.</p>
    <p>Por favor haga click en el enlace del correo enviado para activar su usuario.</p>
{% endblock %}
